.headerContent{
    border-bottom: 0.25rem solid #cccccd;
    display: flex;
    justify-content: space-between;
    margin: 2rem 6rem;
    align-items: center;
    font-size: 1.25rem;
}

h1{
    font-size: 2rem;
}