#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #f0f4f8;
}

main{
  background-color: #fcfcfa;
  max-width: 1224;
  min-width: 80vw;
  min-height: 80vh;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.5);
}